@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.navigation .tab {
  color: white;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  height: 100%
}

.navigation .tab.Mui-selected  {
  color: white;
  font-size: 16px;
  text-transform: none;
  text-decoration: underline;
}